.sidebar-nav{
    
    margin-bottom: 100%;
    padding: 3px;
    list-style: none;
    width: 200px;
    float:left;;
    
}
li{
    padding: 5px
}

button{
    background-color: rgb(23, 214, 231);
    color: aliceblue;
    padding:px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0px;
}

